// base sizes
$head-width: 23em;
$head-height: 30em;
// base colors
$color-white: #fff;
$color-hair: #333;
$color-skin: #7c6f57;

// color map
$colors: (
  skin: (
    base: $color-skin,
    light: lighten($color-skin, 5%),
    dark: darken($color-skin, 10%),
    trans: transparentize($color-skin, 0.5)
  ),
  hair: (
    base: $color-hair,
    light: lighten($color-hair, 10%),
    dark: darken($color-hair, 15%),
    trans: transparentize($color-hair, 0.25)
  )
);

// color function
@function color($color-name, $color-var: null) {
  @if($color-var != null) {
    @return map-get(map-get($colors, $color-name), $color-var);
  } @else {
    @return map-get($colors, $color-name);
  }
}

.alex {
  width: $head-width;
  height: $head-height;
  position: relative;

  .head {
    height: 100%;
    position: absolute;
    border-radius: 100%;
    background-color: color(skin, base);
    box-shadow: color(hair, trans) inset 0 3em 0;
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 50%;
      border-top: color(hair, base) solid 5em;
    }
  }

  .eyebrows {
    margin-top: 12em;
    &:before,
    &:after {
      content: "";
      width: 4em;
      height: 0.5em;
      position: absolute;
      background-color: color(hair, trans);
      border-radius: .5em .5em 0 0;
    }
    &:before {
      left: 20%;
    }
    &:after {
      right: 20%;
    }
  }

  .eyes {
    height: 5em;
    width: $head-width;
    position: relative;
    &:before,
    &:after {
      top: 25%;
      width: 2.5em;
      height: 2.5em;
      content: "";
      border-color: $color-white;
      border-style: solid;
      border-width: .2em 1em;
      box-sizing: content-box;
      position: absolute;
      border-radius: 100%;
      background-color: color(hair, trans);
    }
    &:before {
      left: 19%;
      transform: rotate(10deg);
      box-shadow: color(skin, dark) 0.3em 0 0,
      color(skin, dark) 0 -0.3em 0;
    }
    &:after {
      right: 19%;
      transform: rotate(-10deg);
      box-shadow: color(skin, dark) -0.3em 0 0,
      color(skin, dark) 0 -0.3em 0;
    }
  }

  .ears {
    position: relative;
    &:before,
    &:after {
      content: "";
      top: -3em;
      height: 5em;
      width: 2.5em;
      border-radius: 30%;
      position: absolute;
    }
    &:before {
      left: 0.25em;
      box-shadow: color(skin, dark) -1.5em 0 0;
    }
    &:after {
      right: 0.25em;
      box-shadow: color(skin, dark) 1.5em 0 0;
    }
  }

  .nose {
    height: 2em;
    width: 4em;
    border-radius: 50%;
    margin-left: (($head-width / 2) - 2em);
    box-shadow: color(skin, dark) 0 1em 0;
  }

  .mouth {
    width: 7em;
    margin-top: 4em;
    margin-left: (($head-width / 2) - 3.5em);
    border-top: color(skin, dark) solid .5em;
    border-bottom: color(skin, light) solid .4em;
    border-radius: 50%;
  }
}